---
layout: base
eleventyNavigation:
  key: Over Mij
translationKey: "aboutPage"
---

<div class="container prose prose-xl">
  <h1>Over deze website</h1>
  <p>Deze site is gemaakt met eleventy.</p>
</div>
