---
layout: base
eleventyNavigation:
  key: Over Mij
  order: 10
translationKey: "aboutPage"
---

<div class="container prose dark:prose-light prose-xl">
<h1>Over mij</h1>
{{ home[locale].info | safe }}
<br>
{% markdown %}
  # Over deze website
  Deze site is gemaakt met eleventy.
  
  ## Source code
  https://github.com/jasperro/jasperro-website
{% endmarkdown %}
</div>
