:root {
  // global colors
  --color-primary: #{$primary};
  --color-accent: #{$accent};
  --color-primary-light: #{$primary_light};
  --color-accent-dark: #{$accent_dark};
  --color-text_link: #{$primary};
  // end global colors

  --color-bg: #{$bg_light};
  --color_inverted-bg: #{$bg_dark};
  --color-bg_element: #{$bg_element_light};
  --color_inverted-bg_element: #{$bg_element_dark};

  --color-shadow: #{$shadow_dark};

  --color-text: #{$text_dark};
  --color_inverted-text: #{$text_light};

  --color-text_disabled: #{$text_disabled_dark};
}

[data-theme="dark"] {
  --color-bg: #{$bg_dark};
  --color_inverted-bg: #{$bg_light};
  --color-bg_element: #{$bg_element_dark};
  --color_inverted-bg_element: #{$bg_element_light};

  --color-shadow: #{$shadow_light};

  --color-text: #{$text_light};
  --color_inverted-text: #{$text_dark};

  --color-text_disabled: #{$text_disabled_light};
}