:root {
    --color-primary: 0, 102, 255;
    --color-accent: 255, 0, 102;
    --color-primary-light: 0, 136, 255;
    --color-accent-light: 255, 0, 136;

    --color-bg: 237, 245, 252;
    --color-bg-dark: 22, 45, 80;
    --color-bg-element: 250, 252, 254;
    --color-bg-element-dark: 27, 56, 100;

    --color-text: 3, 10, 8;
    --color-text-light: 0, 0, 0;
}
