#nav-toggle:checked ~ .nav-shadow-togglable {
    @apply shadow-none;
}

#nav-toggle:checked ~ .nav-items-wrapper nav {
    @apply top-0 flex max-h-screen -translate-y-full shadow-none sm:translate-y-0;
}

#nav-toggle:checked ~ .nav-items-wrapper .nav-hide {
    @apply h-0 bg-transparent;
}

#lang-toggle:checked ~ nav {
    @apply flex;
}
