#nav-toggle:checked ~ .nav-shadow-togglable {
    @apply shadow-none bg-bg;
}

#nav-toggle:checked ~ .nav-items-wrapper nav {
    @apply flex max-h-screen top-0 -translate-y-full sm:translate-y-0 bg-bg shadow-none;
}

#nav-toggle:checked ~ .nav-items-wrapper .nav-hide {
    @apply bg-transparent h-0;
}

#lang-toggle:checked ~ nav {
    @apply flex;
}
