.button {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    transition: color, background-color 0.2s ease-in;
    display: inline-block;

    &__filled {
        @include BoxShadow(4);
        color: $text_light;

        &__primary {
            @extend .button__filled;
            //color: var(--color-text);
            background-color: var(--color-primary)
        }

        &__accent {
            @extend .button__filled;
            //color: var(--color-text);
            background-color: var(--color-accent)
        }
    }

    &__transparent {
        &__primary {
            color: var(--color-primary);
        }

        &__accent {
            color: var(--color-accent);
        }
    }
}