.button {
    &__filled {
        color: $text_light;

        &__primary {
            @extend .button__filled;
            //color: var(--color-text);
            background-color: var(--color-primary)
        }

        &__accent {
            @extend .button__filled;
            //color: var(--color-text);
            background-color: var(--color-accent)
        }
    }

    &__transparent {
        &__primary {
            color: var(--color-primary);
        }

        &__accent {
            color: var(--color-accent);
        }
    }
}
