.nav {
    display: flex;
    flex: 1;

    #nav-toggle {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    &__link {
        display: block;
        padding: 0.4rem 0.5rem;
        margin: 0.4rem 0.2rem;
        text-decoration: none;
        color: var(--color-accent-dark);

        &[aria-current=page] {
            color: var(--color-text);
            background-color: var(--color-accent-dark)
        }
    }

    &__menu {
        display: flex;
        background-color: transparent;
        flex: 1;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }

    label[for="nav-toggle"] {
        display: none;
        margin: 0.5rem;
    }

    // Mobile layout with checkbox nav menu
    @include mq-max(lg) {
        label[for=nav-toggle] {
            display: block;
        }

        &__menu {
            flex-direction: column;
        }

        &__container {
            display: none;
            padding-top: 5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 1rem;
            justify-content: space-between;
            background-color: var(--color-bg_element);
            flex-basis: 100%;
        }

        #nav-toggle:checked~&__container {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%
        }

        justify-content: end;
        flex-wrap: wrap;
    }
}