---
layout: base
eleventyNavigation:
  order: -999
---
{#% iconsprites %#}
<div class="home">
    <div class="flex flex-col">
        <div class="lg:text-9xl md:text-8xl text-6xl">{{ home[locale].title | safe }}</div>
        <div class="lg:text-8xl md:text-7xl text-5xl text-primary">{{ home[locale].description | safe }}</div>
    </div>

    <div class="bg-primary-light text-white text-sm md:text-base rounded-xl shadow-md mx-1 sm:mx-4 my-4 px-4 py-4 max-w-7xl">
        {{ home[locale].info | safe }}
        {% icon 'github' %}
        {% icon 'react' %}
        {% icon 'linux' %}
        {% icon 'language-html5' %}
        {% icon 'language-javascript' %}
        {% icon 'language-css3' %}
        {% icon 'sass' %}
        {% icon 'gatsby' %}
        {% icon 'graphql' %}
        {% icon 'raspberry-pi' %}
        {% icon 'home-assistant' %}
        {% icon 'godot' %}
        {% icon 'console' %}
        {% icon 'open-source-initiative' %}
    </div>
    <div class="text-3xl">{{ home[locale].projects }}</div>

    <div class="scrollingcards">
   {% for key, project in home[locale].projectlist %}
		  {% Card project.title, project.description, project.imageurl, project.icons %}
   {% endfor %}
    </div>

    <form name="contact" method="POST" data-netlify="true">
        <h5 class="text-xl mb-2">{{ home[locale].contactHeader }}</h5>
        <p>
            <label>{{ home[locale].contactName }}<input class="border-gray-300 focus:ring-accent focus:border-accent rounded-md mt-1 block w-10/12" type="text" name="name"/></label>
        </p>
        <p>
            <label>{{ home[locale].contactMail }}<input class="border-gray-300 focus:ring-accent focus:border-accent rounded-md mt-1 block w-10/12" type="email" name="email"/></label>
        </p>
        <p>
            <label>{{ home[locale].contactMessage }}
                <textarea name="message" class="border-gray-300 focus:ring-accent focus:border-accent rounded-md mt-1 block w-10/12"></textarea>
            </label>
        </p>
        <p>
            <button type="submit" class="my-4 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary hover:bg-primary-light focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent">{{ home[locale].submit }}</button>
        </p>
	 </form>
</div>
