---
layout: base
_no_margin: true
eleventyNavigation:
order: -999
---
<div>
    <div class="bg-bgel dark:bg-bgel-dark rounded-xl my-6 lg:p-16 md:p-8 p-4 py-8">
        <h1 class="lg:text-9xl md:text-8xl text-6xl font-semibold tracking-tighter">{{ home[locale].title | safe }}</h1>
        <h2 class="lg:text-7xl md:text-6xl text-4xl font-medium tracking-tight text-primary">{{ home[locale].description | safe }}</h2>
        <div class="max-w-3xl">
            <p class="mt-6 border-2 rounded-md border-primary p-3">{{ home[locale].info | safe }}</p>
            <span class="text-xs font-bold mt-6">
                <p class="mt-12">{{ home[locale].workedwith | safe }}</p>
                <p class="mt-2 icons_experience">
                    {% icon 'github' %}
                    {% icon 'react' %}
                    {% icon 'linux' %}
                    {% icon 'language-python' %}
                    {% icon 'language-html5' %}
                    {% icon 'language-javascript' %}
                    {% icon 'language-typescript' %}
                    {% icon 'language-css3' %}
                    {% icon 'sass' %}
                    {% icon 'eleventy' %}
                    {% icon 'hugo' %}
                    {% icon 'graphql' %}
                    {% icon 'raspberry-pi' %}
                    {% icon 'home-assistant' %}
                    {% icon 'godot' %}
                    {% icon 'console' %}
                    {% icon 'open-source-initiative' %}
                </p>
            </span>
        </div>
    </div>
    <div class="lg:mx-16 md:mx-8 mx-4">
        <h1 class="text-3xl mt-8 mb-6">{{ home[locale].projects }}</h1>

        <div class="projectlist">
            {% for key, project in home[locale].projectlist %}
                {% Card project.title,
                project.description,
                project.imageurl,
                project.icons,
                project.actionhtml %}
            {% endfor %}
        </div>

        <form name="contact" class="px-2 my-4" method="POST" data-netlify="true">
            <h1 class="text-xl mb-2">{{ home[locale].contactHeader }}</h1>
            <p>
                <label class="font-light">{{ home[locale].contactName }}<input
                    class="input__text w-full max-w-3xl"
                    type="text" name="name"/></label>
            </p>
            <p>
                <label class="font-light">{{ home[locale].contactMail }}<input
                    class="input__text w-full max-w-3xl"
                    type="email" name="email"/></label>
            </p>
            <p>
                <label class="font-light">{{ home[locale].contactMessage }}
                    <textarea name="message"
                    class="input__text w-full max-w-3xl"></textarea>
                </label>
            </p>
            <p>
                <input type="submit" value="{{ home[locale].submit }}"
                class="my-4 py-2 px-4 shadow-sm text-sm font-medium rounded-md text-white bg-primary hover:bg-primary-light focus:outline-none focus:ring-2 focus:ring-accent">
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-300">{{ home[locale].formComment | safe }}</p>
        </form>
    </div>
</div>