html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: var(--color-link);

    //text-decoration: none;
}

#page {

    background-color: var(--color-bg);

    min-height: 100vh;
	 width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    position: absolute;

    z-index: 0;

    transition: color,background-color 0.2s ease-in;
}
