:root {
  --color-bg: #{$bg_light};
  --color-headerbg: #{$headerbg_light};
  --color-inversebg: #{$bg_dark};
  --color-card__bg: #{hexToRGBString($card__bg_light)};
  --color-shadow: #{$shadow_dark};
  --shadow-neu: #{neumorphicshadow($bg_light)};
  --color-text: #{$text_dark};
  --color-inversetext: #{$text_light};
  --color-text_disabled: #{$text_disabled_dark};
  --color-link: #{$primary_normal};
  --color-primary: #{$primary_normal};
  --color-accent: #{$accent_normal};
  --bg-header: linear-gradient(180deg, rgba(200, 200, 200, 0.25) 0%,
      rgba(200, 200, 200, 0.25) 100%), linear-gradient(180deg,
      rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url('/img/triangles-banner.svg') center/cover no-repeat;
  --bg-blog-header: #{$blogheaderbg_light} center/cover;
}

[data-theme="dark"] {
  --color-bg: #{$bg_dark};
  --color-headerbg: #{$headerbg_dark};
  --color-inversebg: #{$bg_dark};
  --color-card__bg: #{hexToRGBString($card__bg_dark)};
  --color-shadow: #{$shadow_light};
  --shadow-neu: #{neumorphicshadow($card__bg_dark)};
  --color-text: #{$text_light};
  --color-inversetext: #{$text_light};
  --color-text_disabled: #{$text_disabled_light};
  --color-link: #{$primary_desaturated};
  --color-primary: #{$primary_desaturated};
  --color-accent: #{$accent_desaturated};
  --bg-header: linear-gradient(180deg, rgba(50, 50, 50, 0.25) 0%,
      rgba(50, 50, 50, 0.25) 100%), linear-gradient(180deg,
      rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url('/img/triangles-banner.svg') center/cover no-repeat;
  --bg-blog-header: #{$blogheaderbg_dark} center/cover;
}