<header class="header" role="banner">
  <nav role="navigation" tabindex="-1">
    <div class="z-40 bg-bg relative sm:static w-full sm:p-4 flex flex-col justify-between select-none">
      <input type="checkbox"
             checked
             id="nav-toggle"
             class="hidden"
             aria-controls="navigationitems"/>
      {# Logo and hamburger menu on mobile #}
      <div class="nav-shadow-togglable flex sm:w-min w-full p-4 bg-bgel sm:hidden shadow-2xl sm:shadow-none transition-all">
        <div class="flex">
          <label for="nav-toggle" role="button" tabindex="0">
            <span class="sr-only">toggle menu</span>
            {% icon 'menu', 'w-10 h-10 self-center' %}
          </label>
          <a class="flex ml-4" href="{{ "/" + locale | url }}" aria-label="home">{% icon 'logo', 'w-10 h-10 self-center', 'aria-hidden="true"' %}</a>
        </div>
      </div>
      {# Navigation items #}
      <div class="nav-items-wrapper">
        <nav id="navigationitems"
             class="-z-10 sm:z-10 absolute sm:static top-full left-0 p-4 m-[inherit] sm:p-0 sm:m-0 w-full transition-transform motion-reduce:transition-none sm:max-h-full sm:flex sm:bg-bg bg-bgel shadow-2xl sm:shadow-none flex-col sm:flex-row justify-between sm:translate-y-0 transform-gpu origin-top">
          <ul class="flex flex-col sm:flex-row">
            <li class="sm:flex self-center mr-2 hidden">{% icon 'logo', 'w-10 h-10', 'aria-hidden="true"' %}</li>
            {% set items = collections["pages_" + locale] %}
            {%- for item in items | eleventyNavigation -%}
              {% set isCurrent = (item.url == page.url) %}
              {% set isParent = item.url != '/' and item.url in page.url %}
              <li class="flex mr-1 sm:w-max w-full font-medium {% if isCurrent %} rounded-sm bg-primary text-white dark:text-black {% else %} text-primary {% endif %}">
                <a class="w-full block py-2 px-4"
                   {%- if isCurrent -%}
                   href="#main"
                   aria-current="page"
                   {%- else -%}
                   href="{{ item.url | url }}"
                   {%- endif -%}>
                  {{ item.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
        <label for="nav-toggle"
               tabindex="0"
               aria-hidden="true"
               role="button"
               class="-z-20 nav-hide h-screen w-screen bg-bg/80 transition-colors fixed top-0 sm:hidden">
        </label>
      </div>
    </div>
  </nav>
  {# Language selector #}
  {# if translation key of page doesn't contain page of different language #}
  {% set showLanguage = false %}
  {% for item in collections.all %}
    {% if item.data.translationKey == translationKey and item.data.locale != locale %}
      {% set showLanguage = true %}
    {% endif %}
  {% endfor %}
  {% if showLanguage %}
    <div class="z-50 absolute top-4 right-4 flex">
      <nav class="flex justify-between bg-transparent" id="langitems">
        <ul>
          {% for name, value in meta.locales %}
            {% if name != locale %}
              {% for item in collections.all %}
                {% if item.data.translationKey == translationKey and item.data.locale == name %}
                  <li class="flex p-1.5 w-max text-primary">
                    <a href="{{ item.url }}" onclick="setUserLanguage('{{ name }}')">
                      <span class="hidden sm:flex">{{ value }}</span>
                      <span class="flex sm:hidden uppercase font-bold text-lg">{{ name }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      {% icon 'language', 'w-5 h-5 self-center text-accent' %}
    </div>
  {% endif %}
</header>
