<header class="header" role="banner">
    <div class="header__inner">
        <div class="header__left">
            <svg class="header__icon icon icon--icondark-fontless" role="img" aria-hidden="true">
                <use href="#icon-icondark-fontless"></use>
            </svg>
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>