<header class="header" role="banner">
    <div class="header__inner">
        <div class="header__left">
            {% icon 'icon-fontless', undefined, 'aria-hidden="true"' %}
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
