<nav class="nav w-full p-4 flex flex-col justify-between select-none" role="navigation" tabindex="-1">
    {# Logo and hamburger menu on mobile #}
    <div class="flex w-min sm:hidden">
        <div class="flex">
            <label for="nav-toggle" role="button" tabindex="0">
                <span class="sr-only">toggle menu</span>
                {% icon 'menu', 'w-10 h-10 self-center' %}
            </label>

            <a class="flex ml-4" href="{{ "/" + locale | url }}" aria-label="home">{% icon 'logo', 'w-10 h-10 self-center', 'aria-hidden="true"' %}</a>
        </div>
    </div>
    <input type="checkbox" id="nav-toggle" class="hidden" aria-controls="navigationitems">

    {# Navigation items #}
    <nav class="sm:flex flex-col hidden sm:flex-row justify-between sm:mt-0 mt-4" id="navigationitems">
        <ul class="flex flex-col sm:flex-row">
            <li class="sm:flex self-center mr-2 hidden">
                {% icon 'logo', 'w-10 h-10', 'aria-hidden="true"' %}
            </li>
            {%- set items = collections["pages_" + locale] -%}
            {%- for item in items | eleventyNavigation -%}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li
                class="flex mr-1 sm:w-max w-full font-medium{% if isCurrent %} rounded-sm bg-primary text-white dark:text-black{% else %} text-primary{% endif %}">
                    <a class="w-full block py-2 px-4" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if
                    isCurrent %} aria-current="page" {% endif %}>
                        {{ item.title }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
</nav>

{# Language selector #}

{# if translation key of page doesn't contain page of different language #}

{% set showLanguage = false %}
{% for item in collections.all %}
    {% if item.data.translationKey == translationKey and item.data.locale != locale %}
        {% set showLanguage = true %}
    {% endif %}
{% endfor %}

{% if showLanguage %}
    <div class="absolute top-4 right-4 flex items-end items-center">
        <nav class="flex justify-between bg-transparent" id="langitems">
            <ul>
                {% for name, value in meta.locales %}
                    {% if name != locale %}
                        {% for item in collections.all %}
                            {% if item.data.translationKey == translationKey and item.data.locale == name %}
                                <li class="flex p-1.5 w-max text-primary">
                                    <a href="{{ item.url }}" onclick="setUserLanguage('{{ name }}')">
                                        <span class="hidden sm:flex">{{ value }}</span>
                                        <span class="flex sm:hidden uppercase font-bold text-lg">{{ name }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% icon 'language', 'w-5 h-5 self-center text-accent' %}
    </div>
{% endif %}