dist/

.output/
.log/
.netlify/

.DS_Store

src/assets/placeholders

node_modules
/build
/package
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.direnv

.astro
