* {
	font-family: 'Source Sans Pro', sans-serif;
}
html {
	width: 100vw;
}
main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	right: 0;
}
body {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/Free_Green_Spring_Leaves_on_Blue_Creative_Commons_%285653974533%29.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 60px 0 0 0;
	padding:0;
	left: 0;
	right: 0;
	position: absolute;
}
.card {
	height: 100%;
	margin: 20px auto 20px auto;
	width: 95%;
	padding: 0 0 0 0;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
}
.text {
	width: 90%;
	padding: 10px 5% 10px 5%;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: top 0.1s ease-in-out;
	overflow: hidden;
}
footer {
	display: block;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	color: white;
	overflow: hidden;
}
.padtext {
	padding-left: 20px;
}
.nav-up {
    top: -70px;
}
