.home {
    &__card {
        &_info {
            @extend .card;
            max-width: 60%;

            @include mq-max(md) {
                max-width: 100%;
            }

            & .icon {
                margin: 0 0.2rem
            }
        }

        &_project {
            @extend .card;
            padding: 0;
            width: 20rem;
            min-width: 12rem;
            display: flex;
            flex-direction: column;
            margin-right: 0.8rem;

            &_description {
                margin: 0.7rem;
                padding: 0 .5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            & img {
                width: 100%;
                height: 100%;
                border-radius: 0.7rem 0.7rem 0 0;
            }
        }
    }

    &__hero {
        padding: 2rem 0;

        &__title {
            @include css-lock(5, 8, 70, 100);
        }

        &__subtitle {
            @include css-lock(4, 7, 60, 90);
            color: var(--color-primary)
        }
    }

    &__title {
        &_subsection {
            font-size: 1.75rem;
            margin-top: 0.8rem;
            margin-bottom: 0.6rem;
            margin-left: 0.4rem;
        }

    }

    &__projects {
        display: flex;
        overflow-y: visible;
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            height: 50px;
        }

        &::after {
            content: ' ';
            min-width: 3.2rem;
        }

        margin-left: -2rem;
        margin-right: -4rem;
        padding-left: 2rem;
        padding-right: 2rem;


    }

}