.projectlist {
    @apply grid gap-x-4 gap-y-4 lg:mx-0 lg:px-0 w-full;
    @screen md {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
}

.home_intro {
    @apply rounded-xl my-6 lg:p-16 md:p-8 p-4 py-8 flex flex-col sm:my-16 sm:mx-16 xl:mx-40 2xl:mx-60;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(/assets/images/svg/intro-bg.svg) center/cover no-repeat;
}
