---
import PostCard from "@src/components/Cards/PostCard.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { t } from "@src/lib/translations";
interface FrontMatter {
    title: string;
    description?: string;
}
const posts = await Astro.glob<FrontMatter>("../../lib/posts/**/*.md");
---

<BaseLayout>
    <div class="prose dark:prose-light prose-xl">
        <h1>{t("posts").title}</h1>
    </div>
    <ul class="mt-5 grid grid-cols-responsivecards lg:gap-6 md:gap-4 gap-3">
        {posts.map((post) => <PostCard content={post.frontmatter} />)}
    </ul>
</BaseLayout>
