<!DOCTYPE html>
<html lang="{{ locale }}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta.title }}</title>

        <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
        {% include "meta.njk" %}
        <script>
            function setUserLanguage(language = "en") {
                document.cookie = `nf_lang=${language}; secure; path=/`;
            };
        </script>
    </head>

    <body>
        <div class="layout" role="document">
            {% include "header.njk" %}
            <main id="main" class="flex flex-col {% if _no_margin %}{% else %}lg:p-16 md:p-8 p-4{% endif %} overflow-hidden" tabindex="-1">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>

        {% iconsprites %}
    </body>

</html>