---
layout: base
---
{#<div>
    <a class="text-primary" href="/{{ locale }}/posts/">&#8592; {{ posts[locale].goBack }}</a>
</div>#}

<article class="prose dark:prose-light lg:prose-xl mt-4">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</article>
<span class="my-5">
    <time datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date("DD MMMM YYYY", locale) }}</time>
</span>
