@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@config "./tailwind.config.mjs";

@import "./base/_base.css";
@import "./base/_input.css";

@import "./components/_nav.css";
@import "./components/_icon.css";

@import "./pages/_home.css";

@import "./base/_fonts.css";

:root {
    --basecolor-primary-light: 176 56% 55%;
    --basecolor-primary-dark: 176 100% 24%;

    --basecolor-primary: var(--basecolor-primary-dark);

    --basecolor-accent: var(--basecolor-primary);

    --basecolor-bg-light: 176 52% 95%;
    --basecolor-bg-dark: 176 52% 15%;
    --basecolor-bg-element-light: 176 50% 85%;
    --basecolor-bg-element-dark: 176 50% 10%;

    --basecolor-bg: var(--basecolor-bg-light);
    --basecolor-bg-element: var(--basecolor-bg-element-light);

    --basecolor-text: 176 100% 100%;
    --basecolor-text-light: 176 0 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --basecolor-bg: var(--basecolor-bg-dark);
        --basecolor-bg-element: var(--basecolor-bg-element-dark);
        --basecolor-primary: var(--basecolor-primary-light);
    }
}

@layer components {
    .bg-jasperro-gradient {
        background: rgb(13, 38, 37);
        background: linear-gradient(
            140deg,
            hsl(var(--basecolor-bg-element)) -20%,
            hsl(var(--basecolor-bg)) 60%,
            hsl(var(--basecolor-primary)) 140%
        );
    }
}

@theme {
    --color-primary-dark: hsl(var(--basecolor-primary-dark));
    --color-primary-light: hsl(var(--basecolor-primary-light));
    --color-primary: hsl(var(--basecolor-primary));

    --color-accent: hsl(var(--basecolor-accent));

    --color-bg-dark: hsl(var(--basecolor-bg-dark));
    --color-bg: hsl(var(--basecolor-bg));

    --color-bgel-dark: hsl(var(--basecolor-bg-element-dark));
    --color-bgel: hsl(var(--basecolor-bg-element));

    --font-sans:
        "Lexend var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --min-width-8: 0.5rem;
    --min-width-48: 3rem;
    --min-width-80: 5rem;

    --projects-grid-cols: repeat(auto-fill, minmax(20rem, 1fr));
}
