---
layout: base
eleventyNavigation:
  key: About
  order: 10
translationKey: "aboutPage"
---

<div class="container prose dark:prose-light prose-xl">
  {% markdown %}
  # About me
  <p>{{ home[locale].info | safe }}</p>

  # About this site
  <p>This site was made with <a href="https://11ty.dev/">{% icon 'eleventy' %} (eleventy)</a>.</p>

  ## Source code
  https://github.com/jasperro/jasperro-website
{% endmarkdown %}
</div>