---
layout: base
eleventyNavigation:
  key: About
  order: 10
translationKey: "aboutPage"
---

<div class="container prose dark:prose-light prose-xl">
<h1>About me</h1>
{{ home[locale].info | safe }}
<br>
{% markdown %}
  # About this site
  This site was made with eleventy.
  ## Source code
  https://github.com/jasperro/jasperro-website
{% endmarkdown %}
</div>
