---
import PostCard from "@src/components/Cards/PostCard.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { useTranslations } from "@src/lib/i18n";
import { LOCALES, Lang } from "@src/lib/locales";
import { getCollection } from "astro:content";

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));

const locale = Astro.currentLocale as Lang;
const { t } = useTranslations(locale);
const posts = (await getCollection("posts"))
	.filter((post) => post.id.split("/")[0] === locale)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()); // Sort newest first
---

<BaseLayout noMargin={true} title={t({ en: "Posts", nl: "Posts" })}>
	<section
		class="animate-fade-in relative my-16 flex min-h-[50vh] flex-col justify-center p-[clamp(--spacing(4),4vw,--spacing(32))]"
	>
		<h1
			class="text-primary animate-slide-up mb-16 flex text-[clamp(3rem,10vw,6rem)] leading-tight font-bold tracking-tight"
		>
			{t({ en: "Posts", nl: "Posts" })}
		</h1>

		<ul
			class="animate-slide-up grid list-none grid-cols-1 gap-8 p-0 md:grid-cols-2 lg:grid-cols-3"
		>
			{posts.map((post) => <PostCard post={post} />)}
		</ul>

		{
			posts.length === 0 && (
				<p class="animate-slide-up text-xl opacity-60">
					{t({ en: "No posts found.", nl: "Geen posts gevonden." })}
				</p>
			)
		}
	</section>
</BaseLayout>
