.blog {
    &__header {
        background:
            var(--bg-blog-header);
        padding: 3rem 3vw 6rem;
        @include BoxShadow(1);
        z-index: -1;
        position: relative;
    }

    &__content {
        margin-top: -4rem;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &__content .flex__row:nth-child(1) {
        @include BoxShadow(4);
        border-radius: 16px;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 70%;
    }
}