.home {
    &__header {
        @include themed() {
            background: url(../img/fullposter.svg) right/contain no-repeat, t($headerbg) center/cover; 
            padding: 3rem 3vw 10rem;
            @include BoxShadow(1);
            z-index: -1;
            position: relative;
        }

        &__buttons {
            margin-top: 2rem;
            overflow: visible;
        }
    }

    &__content {
        margin-top: -6rem;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 1;
    }

    &__subheading {
        margin: 0.75rem 0.75rem 0.5rem;
    }

    &__portfolio__container {
        flex-wrap: wrap;
        & .card {
            flex: 1 1 20%;
        }
    }
}
