---
import BaseLayout from '@src/layouts/BaseLayout.astro';
---

<BaseLayout title="404 :O" noMargin={false}>
	<div class="prose dark:prose-light prose-xl">
		<h1>404</h1>
		<p>Page not found.</p>
	</div>
</BaseLayout>
