---
import {
    AlternativeLanguageMap,
    knownLocales,
    LocaleCode,
} from "@src/lib/translations";
import Icon from "./Icons";

const {
    alternativeLanguageMap = null,
}: {
    alternativeLanguageMap?: AlternativeLanguageMap | null;
} = Astro.props;
---

<body>
    {
        alternativeLanguageMap && (
            <div class="absolute top-4 right-4 z-50 flex">
                <nav class="flex justify-between bg-transparent" id="langitems">
                    <ul>
                        {(
                            Object.entries(alternativeLanguageMap) as [
                                LocaleCode,
                                string
                            ][]
                        ).map(([lang, alternativeUrl]) => (
                            <li class="text-primary flex w-max p-1.5">
                                <a
                                    href={alternativeUrl}
                                    onclick={`setUserLanguage('${lang}')`}
                                >
                                    <span class="hidden sm:flex">
                                        {knownLocales[lang]}
                                    </span>
                                    <span class="flex text-lg font-bold uppercase sm:hidden">
                                        {lang}
                                    </span>
                                </a>
                            </li>
                        ))}
                    </ul>
                </nav>
                <Icon name="language" class="text-accent h-5 w-5 self-center" />
            </div>
        )
    }
</body>
