---
import Icon from '@src/components/Icons.astro';
---

<a href="https://github.com/jasperro/">
	<Icon name="github" class="h-7 w-7" />
</a>
<a href="https://gitlab.com/jasperro/">
	<Icon name="gitlab" class="h-7 w-7" />
</a>
<a href="https://www.linkedin.com/in/jasper-albering-a12722174/">
	<Icon name="linkedin" class="h-7 w-7" />
</a>
