---
import Icon from "@src/components/Icons.astro";
---

<a
	href="https://github.com/jasperro/"
	class="hover:text-accent opacity-60 transition-all duration-300 hover:-translate-y-1 hover:opacity-100"
	aria-label="GitHub"
>
	<Icon name="github" class="h-6 w-6" />
</a>
<a
	href="https://gitlab.com/jasperro/"
	class="hover:text-accent opacity-60 transition-all duration-300 hover:-translate-y-1 hover:opacity-100"
	aria-label="GitLab"
>
	<Icon name="gitlab" class="h-6 w-6" />
</a>
<a
	href="https://www.linkedin.com/in/jasper-albering-a12722174/"
	class="hover:text-accent opacity-60 transition-all duration-300 hover:-translate-y-1 hover:opacity-100"
	aria-label="LinkedIn"
>
	<Icon name="linkedin" class="h-6 w-6" />
</a>
