<header class="hoverheader" id="navbar">
    <h2><a href="/">{{ .Site.Title }}</a></h2>
    <nav>
        <ul style="cursor: pointer;" onclick="" aria-haspopup="true" class="clearfix">
            <li>
                <div>
                    <h3><a>{{.LinkTitle}} ▼</a>
                    </h3>
                </div>
                <ul>
                    {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} {{ else }}

                    <a href="{{ .URL }}">
                        <div class="navlist">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </div>
                    </a>
                    {{ end }} {{ end }}
                </ul>
            </li>
        </ul>
    </nav>
</header>
