$primary_lightmode: #2683DE;
$accent_lightmode: #26DEDD;
$primary_darkmode: lighten($primary_lightmode, 10%);
$bg_lightmode: lighten($primary_lightmode, 90%);
$bg_darkmode: darken($primary_lightmode, 40%);
$headerbg_lightmode: linear-gradient(300deg, #DFF1FB, #B2DAF0);
$headerbg_darkmode: linear-gradient(300deg, darken(#DFF1FB, 40), darken(#B2DAF0, 30));
$card__bg_lightmode: darken($bg_lightmode, 1%);
$card__bg_darkmode: lighten($bg_darkmode, 3%);
$text_lightmode: darken($primary_darkmode, 57%);
$text_darkmode: lighten($primary_lightmode, 55%);
$text_disabled_lightmode: saturate($text_lightmode, 20%);
$text_disabled_darkmode: desaturate($text_darkmode, 20%);
$shadow_lightmode: transparentize($text_lightmode, 0.3);
$shadow_darkmode: transparentize($text_darkmode, 0.6);
$accent_darkmode: lighten($accent_lightmode, 10%);