$bg: 'bg';
$headerbg: 'headerbg';
$inversebg: 'inversebg';
$card__bg: 'card__bg';
$shadow: 'shadow';
$text: 'text';
$inversetext: 'inversetext';
$text_disabled: 'text_disabled';
$logo: 'logo';
$primary: 'primary';
$shadow: 'shadow';
$link: 'link';
$accent: 'accent';

:root {
  --color-bg: #{$bg_light};
  --color-headerbg: #{$headerbg_light};
  --color-inversebg: #{$bg_dark};
  --color-card__bg: #{$card__bg_light};
  --color-shadow: #{$shadow_dark};
  --color-text: #{$text_dark};
  --color-inversetext: #{$text_light};
  --color-text_disabled: #{$text_disabled_dark};
  --color-link: #{$primary_normal};
  --color-primary: #{$primary_normal};
  --color-accent: #{$accent_normal};
  --bg-header: linear-gradient(180deg, rgba(200, 200, 200, 0.25) 0%, rgba(200, 200, 200, 0.25) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/img/icecold_5120x2880.png') center/cover no-repeat;
  --bg-blog-header: #{$blogheaderbg_light} center/cover;
}

[data-theme="dark"] {
  --color-bg: #{$bg_dark};
  --color-headerbg: #{$headerbg_dark};
  --color-inversebg: #{$bg_dark};
  --color-card__bg: #{$card__bg_dark};
  --color-shadow: #{$shadow_light};
  --color-text: #{$text_light};
  --color-inversetext: #{$text_light};
  --color-text_disabled: #{$text_disabled_light};
  --color-link: #{$primary_desaturated};
  --color-primary: #{$primary_desaturated};
  --color-accent: #{$accent_desaturated};
  --bg-header: linear-gradient(180deg, rgba(50, 50, 50, 0.25) 0%, rgba(50, 50, 50, 0.25) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/img/icecold_5120x2880.png') center/cover no-repeat;
  --bg-blog-header: #{$blogheaderbg_dark} center/cover;
}

/*$themes: (
    default: (logo: url("/img/favicondark.svg"),
        bg: $bg_light,
        headerbg: $headerbg_light,
        inversebg: $bg_dark,
        card__bg: $card__bg_light,
        shadow: $shadow_dark,
        text: $text_dark,
        inversetext: $text_light,
        text_disabled: $text_disabled_dark,
        link: $primary_normal,
        primary: $primary_normal,
        accent: $accent_normal),
    dark: (logo: url("/img/favicon.svg"),
        bg: $bg_dark,
        headerbg: $headerbg_dark,
        inversebg: $bg_light,
        card__bg: $card__bg_dark,
        shadow: $shadow_light,
        text: $text_light,
        inversetext: $text_dark,
        text_disabled: $text_disabled_light,
        link: $primary_desaturated,
        primary: $primary_desaturated,
        accent: $accent_desaturated,
        ),
);

@mixin themed() {

    @each $theme,
    $map in $themes {
        .theme_#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes,
                        $theme),
                    '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
*/