<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>{{ metadata.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Jasper Albering">
        <meta name="description" content="{{ metadata.subtitle }}">
        <meta name="keywords" content="programming">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>

    <body>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                document
                    .getElementById("themeCheckbox")
                    .addEventListener('change', function () {
                        if (this.checked) {
                            localStorage.dt = 1;
                            document
                                .body
                                .setAttribute('data-theme', 'dark');

                        } else {
                            localStorage.removeItem("dt");
                            document
                                .body
                                .removeAttribute('data-theme');
                        };
                    });
                if (localStorage.dt == 1) {
                    document
                        .getElementById('themeCheckbox')
                        .checked = true;
                    document
                        .body
                        .setAttribute('data-theme', 'dark');
                };
            });
        </script>
        <div id="page">
            <div class="header__navigation">
                <div>
                    <a class="header__navigation__icon" href="/"><img class="header__navigation__icon_logo"
                        src="/img/favicon.svg"></a>
                </div>
                <input type="checkbox" class="theme__checkbox header__navigation__icon" id="themeCheckbox">
                <label for="themeCheckbox" class="theme__label material-icons"></label>
            </div>
            {{ layoutContent | safe }}
        </div>

    </body>
</html>