---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
---

<div class="blog__header">
  <h1>Blog</h1>
</div>

<ul class="flex__column blog__content">
  {% for post in collections.posts | reverse %}
    <li class="card">
      <div class="card__content">
        {% if post.data.canonical %}
          <a href="{{ post.data.canonical }}" target="_blank" rel="noopener" class="listing__remote">
          {% else %}
            <a href="{{ post.url }}">
            {% endif %}
            <h5 class="card__title">{{ post.data.title }}</h2>
            <p>{{ post.data.summary }}</p>
            <date>{{ post.data.date }}</date>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>