---
layout: base
eleventyNavigation:
  key: Home
---

<div class="home">
  <div class="home__hero">
    <div class="home__hero__title">Hoi, mijn naam is Jasper.</div>
    <div class="home__hero__subtitle">Ik ben een echte <strong>techneut.</strong>
    </div>
  </div>

  <div class="home__card_info">
    <p>Ik ben 16 jaar oud en altijd wel een fan geweest van computers. Er is altijd wel iets interessants geweest aan een mysterieus apparaat dat van alles kan. Deze interesse is met mij gebleven, en nu wil ik er iets mee doen. Het is altijd leuk om iets te bekijken op het eerste gezicht, en dan te kijken wat daar nou achter zit, wat laat het draaien?</p>

    <p>Open source, React, Vue.js, Linux en Home Automation zijn waar ik mij in specialiseer, maar alles in de technologie heeft mijn interesse.</p>
  </div>
  <div class="home__title_subsection">Projecten</div>

  <div class="home__projects"></div>
</div>