@import "base/_tailwind_colors.pcss";
@import "base/_custom_colors.pcss";
@import "base/_typography.pcss";
@import "base/_ui.pcss";
@import "base/_layout.pcss";
@import "base/_base.pcss";
@import "base/_focus.pcss";
@import "base/_input.pcss";

@import "components/_nav.pcss";
@import "components/_footer.pcss";
@import "components/_icon.pcss";

@import "pages/_home.pcss";
