@import "base/_tailwind_base.pcss";
@import "base/_tailwind_components.pcss";

@import "base/_colors.pcss";
@import "base/_fonts.pcss";
@import "base/_base.pcss";
@import "base/_focus.pcss";

@import "components/_nav.pcss";
@import "components/_footer.pcss";
@import "components/_icon.pcss";

@import "pages/_home.pcss";

@import "base/_tailwind_utilities.pcss";
