---
import { HTMLAttributes } from 'astro/types';
import Meta from '@src/components/Meta.astro';
import Header from '@src/components/Header.astro';
import '@src/styles/global.css';
import SocialLinks from '@src/components/SocialLinks.astro';
import { Lang, LOCALES } from '@src/lib/locales';
import { useTranslations } from '@src/lib/i18n';
import * as consts from '@src/lib/consts';

await import('dayjs/locale/nl');

const canonicalURL = new URL(Astro.url);
const {
	noMargin = true,
	class: className,
	'class:list': classList,
	...meta
} = Astro.props;

type Props = {
	noMargin?: boolean;
	title?: string;
	description?: string;
} & HTMLAttributes<'body'>;

const locale = Astro.currentLocale as Lang;
---

<html lang={LOCALES[locale].lang || locale}>
	<head>
		<Meta {...meta} {canonicalURL} />
		<script is:inline>
			function setUserLanguage(language = 'en') {
				document.cookie = `nf_lang=${language}; secure; path=/`;
			}
		</script>
	</head>

	<body
		class:list={['flex', 'min-h-screen', 'flex-col', className, classList]}
	>
		<Header locale={locale} />

		<main
			id="main"
			class={`flex flex-col grow overflow-hidden${
				noMargin ? '' : ' lg:p-16 md:p-8 p-4'
			}`}
			tabindex="-1"
		>
			<slot />
		</main>

		<footer
			class="bg-bgel bg-opacity-50 mt-16 flex grow-0 items-center justify-between px-8 py-4 text-sm"
			role="contentinfo"
		>
			<div>Jasper Albering &copy; 2016-{new Date().getFullYear()}</div>
			<span class="flex gap-x-3">
				<SocialLinks />
			</span>
		</footer>
	</body>
</html>
