---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
const { content = {} } = Astro.props;
---

<BaseLayout {content}>
    <div>
        <a class="text-primary" href="/{{ locale }}/posts/">&#8592;</a>
    </div>

    <article class="container prose dark:prose-light prose-xl">
        <h1>{content.title}</h1>
        <slot />
    </article>

    {content.date && (
        <time
            class="text-md block w-full pb-8 font-medium uppercase text-gray-600 dark:text-gray-300"
            datetime={dayjs(content.date).format("YYYY-MM-DD")}
        >
            {content.date}
        </time>
    )}
</BaseLayout>
