---
layout: base
---
{#<div>
    <a class="text-primary" href="/{{ locale }}/posts/">&#8592; {{ posts[locale].goBack }}</a>
</div>#}

{% if date %}
    <time class="pb-8 block w-full text-md font-medium text-gray-600 dark:text-gray-300 uppercase" datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date("DD MMM YYYY", locale) }}</time>
{% endif %}
<article class="container prose dark:prose-light prose-xl">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</article>