---
import { InferEntrySchema } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import dayjs from 'dayjs';
import NotTranslateCaution from '@src/components/i18n/NotTranslateCaution.astro';
const {
	post: { data },
	missing,
} = Astro.props;

type Props = {
	post: {
		data: InferEntrySchema<'posts'>;
	};
	missing: boolean;
};
---

<BaseLayout {...data} noMargin={false}>
	{missing && <NotTranslateCaution />}
	<article
		class="prose dark:prose-light prose-xl w-full max-w-[70ch] self-center"
	>
		{
			data.date && (
				<time
					class="text-md block w-full pb-8 font-medium text-gray-600 uppercase dark:text-gray-300"
					datetime={dayjs(data.date).format('YYYY-MM-DD')}
				>
					{dayjs(data.date).format('DD MMM YYYY')}
				</time>
			)
		}
		<h1>{data.title}</h1>
		<slot />
	</article>
</BaseLayout>
